<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378543426457-s478pslbeiv8kokl0i1koa06992c7p1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378543426457-s478pslbeiv8kokl0i1koa06992c7p1g</string>
	<key>API_KEY</key>
	<string>AIzaSyBRCv59RfjefJG5ZUFcgQUgeNTQ_2SyOa4</string>
	<key>GCM_SENDER_ID</key>
	<string>378543426457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MovieProject</string>
	<key>PROJECT_ID</key>
	<string>movieproject-cb72d</string>
	<key>STORAGE_BUCKET</key>
	<string>movieproject-cb72d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378543426457:ios:b643a56cf4561390fe2108</string>
	<key>DATABASE_URL</key>
	<string>https://movieproject-cb72d.firebaseio.com</string>
</dict>
</plist>